**/.DS_Store
node_modules/
ai1wm-backups/
wpvividbackups/
wp-content/themes/.DS_Store
wp-content/.DS_Store
wp-content/wpvividbackups/wpvivid_log/wpvivid-64d2b812e04ce_backup_log.txt
wp-content/languages/plugins/wpvivid-backuprestore-de_DE.po
wp-content/languages/plugins/wpvivid-backuprestore-de_DE.mo
wp-content/plugins
wp-content/plugins/reisedurstig-youtube-plugin/
wp-content/uploads/2023/08/all-in-one-wp-migration-100GB.zip
wp-content/uploads/2023/08/all-in-one-wp-migration-100GB-1.zip
wp-content/plugins/reisedurstig-youtube-plugin/youtube-script.js
wp-content/plugins/reisedurstig-youtube-plugin/youtube-script.js
wp-content/plugins/reisedurstig-youtube-plugin/youtube-script.js
